:root {
  --bg-color-light: #ffffff;
  --text-color-light: #1a1a1a;
  --bg-color-dark: #222831;
  --text-color-dark: #ffffff;
}
/* #540101 */
:root {
  --cart-color-light: #000000;
  --cart-color-dark: #ffffff;
}

body {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  transition: background 0.3s, color 0.3s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Altura do header */
  background-color: var(--bg-color-light); /* Ou a cor desejada */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1000;
  transition: background-color 0.3s;
  
}

body.dark-mode header {
  background-color: var(--bg-color-dark);
}

body.dark-mode {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Estilo padrão dos ícones de topo */
#darkMode-icon,
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  z-index: 1001;
  color: var(--text-color-light) !important;
  transition: color 0.3s;
}

/* Modo escuro - ícones brancos */
body.dark-mode #darkMode-icon,
body.dark-mode #menu-icon {
  color: var(--text-color-dark);
}

/* Posição individual de cada ícone */
#darkMode-icon {
  right: 5.5rem;
}

#menu-icon {
  right: 1rem;
}

/* Esconde o menu em telas maiores */
#menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
  z-index: 1001;
}

.carrinho-icon i {
  font-size: 1.8rem;
  color: var(--cart-color-light);
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  transition: color 0.3s;
}

/* Quando estiver em dark mode */
body.dark-mode .carrinho-icon i {
  color: var(--cart-color-dark);
}

.fixed-icon {
  font-size: 1.8rem !important;
  width: 2.2rem !important;
  height: 2.2rem !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  position: fixed !important;
  top: 1rem !important;

  transition: color 0.3s !important;
  cursor: pointer !important;
} 

/* Menu lateral fixo */
.mobile-nav {
  position: fixed;
  top: 60px;
  right: -100%;
  width: 100%;
  height: 10%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: right 0.3s ease;
  z-index: 1000;
  align-items: center;
  border: black 3px solid;;
  backdrop-filter: blur(5px);
}

body.dark-mode .mobile-nav {
  border: 3px solid white; /* Define a borda branca no modo escuro */
}


.mobile-nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: inline-flex;
  gap: 4rem;
  align-items: center;
  width: max-content;
}

.mobile-nav li {
  margin: 20px 0;
}

.mobile-nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

/* Quando o menu estiver ativo */
.mobile-nav.active {
  right: 0;
}

/* Ícone menu visível apenas em telas pequenas */
@media (max-width: 450px) {
  #menu-icon {
    display: block;
    position: fixed;
    top: 1rem;
    right: 20px;
  }
}
